# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
nul

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Other
/focusmate-next
.claude
public/audio/39034061-glory-glory-166795.mp3
public/audio/39034061-his-mercy-166520.mp3
public/audio/39034061-the-grace-of-god-165502.mp3
public/audio/39034061-through-faith-170275.mp3
public/audio/desifreemusic-coffee-after-midnight-cozy-lofi-background-music-477511.mp3
public/audio/desifreemusic-copyright-free-lo-fi-chill-music-for-study-relax-amp-background-use-474210 (1).mp3
public/audio/desifreemusic-copyright-free-lo-fi-chill-music-for-study-relax-amp-background-use-474210.mp3
public/audio/desifreemusic-late-night-lofi-chill-coffee-study-beats-no-copyright-476705 (1).mp3
public/audio/desifreemusic-late-night-lofi-chill-coffee-study-beats-no-copyright-476705.mp3
public/audio/desifreemusic-no-copyright-lofi-chill-beat-for-study-amp-relaxation-474208.mp3
public/audio/domartistudios-magical-wizard-school-orchestral-fantasy-488126.mp3
public/audio/genzbeats-genzbetas-hapncs-no-copyright-free-background-music-412205.mp3
public/audio/music_for_video-just-relax-11157.mp3
public/audio/onetent-flute-meditation-music-5-229769.mp3
